/* 
.f  {
    text-align: justify;
    line-height: 45px;
    font-size: 30px;
     background-image: linear-gradient(to top rgb(127, 122, 122), blue);
}  */




 

 /* @media (max-width: 600px) {
    .menu ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        background-color: rgb(31, 76, 116);

    } 
